# Module-1

## Query 1.1

Import the csv file of the stock you have been allotted using 'pd.read_csv()' function into a dataframe.
Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'.
Analyze and understand each column properly.
You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [1]:
import pandas as pd
import warnings
import csv as csv
import numpy as np
warnings.filterwarnings("ignore")

df=pd.read_csv("NCC.csv")

df=df[~df["Series"].isin(["BL"])]

df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,NCC,EQ,15-May-2017,93.80,94.10,97.90,94.05,97.90,97.35,96.08,3616693,3.474795e+08,13933,1120046,30.97
1,NCC,EQ,16-May-2017,97.35,98.15,100.80,97.10,100.60,100.40,99.01,8251673,8.170074e+08,28908,2698728,32.71
2,NCC,EQ,17-May-2017,100.40,100.95,103.65,100.10,101.35,101.45,102.05,9866001,1.006803e+09,40313,3276414,33.21
3,NCC,EQ,18-May-2017,101.45,99.80,100.85,96.55,96.90,97.00,98.80,4163676,4.113649e+08,18977,1196998,28.75
4,NCC,EQ,19-May-2017,97.00,97.80,99.25,94.25,95.70,95.45,96.53,3782348,3.651142e+08,19517,706203,18.67

In [2]:
df.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
492,NCC,EQ,07-May-2019,93.70,94.50,95.25,91.85,92.55,92.65,93.65,4876430,4.566790e+08,23543,891834,18.29
493,NCC,EQ,08-May-2019,92.65,92.30,94.60,91.10,93.55,93.60,93.46,5454026,5.097505e+08,17813,774545,14.20
494,NCC,EQ,09-May-2019,93.60,93.45,93.80,90.85,91.40,91.45,92.13,3484602,3.210419e+08,14649,557569,16.00
495,NCC,EQ,10-May-2019,91.45,91.65,96.85,91.65,95.95,95.90,94.20,7923082,7.463868e+08,24007,1094615,13.82
496,NCC,EQ,13-May-2019,95.90,95.95,95.95,89.15,90.05,90.10,92.29,6912840,6.379546e+08,21630,1891469,27.36

In [3]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,99.758704,99.951619,101.888462,97.797470,99.756781,99.751215,99.935648,7.279621e+06,7.181033e+08,27878.572874,1.761280e+06,26.153684
std,17.282109,17.355075,17.559575,17.083788,17.308482,17.285498,17.337175,5.155306e+06,5.221158e+08,18302.691646,1.229328e+06,10.477083
min,65.700000,64.900000,67.300000,63.250000,65.750000,65.700000,65.310000,3.703270e+05,3.346985e+07,2757.000000,1.356000e+05,8.570000
25%,86.962500,87.250000,88.512500,85.162500,86.925000,86.962500,86.862500,3.775086e+06,4.103257e+08,15366.500000,9.118765e+05,18.432500
50%,94.500000,94.850000,96.275000,92.375000,94.650000,94.500000,94.205000,6.000767e+06,5.876957e+08,23653.000000,1.412617e+06,23.655000
75%,112.475000,112.737500,114.500000,109.200000,112.537500,112.475000,112.515000,9.192613e+06,8.658203e+08,33703.250000,2.285612e+06,31.857500
max,140.050000,141.300000,141.400000,137.150000,140.850000,140.050000,139.210000,3.547893e+07,3.894783e+09,139944.000000,8.042385e+06,70.070000

## Query 1.2

Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [4]:
a=df["Close Price"].tail(90)

print("Maximun price for last 90 days=",max(a))
print("Minimum price for last 90 days=",min(a))
print("Mean price for last 90 days=",a.mean(axis=0))

Maximun price for last 90 days= 114.25
Minimum price for last 90 days= 78.05
Mean price for last 90 days= 94.13999999999999

## Query 1.3
Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.

In [5]:
print("Datatype of Date is",df.Date.dtype)
df["Date"]=pd.to_datetime(df["Date"], format="%d-%b-%Y")
print("Now datatype of Date is",df.Date.dtype)

Datatype of Date is object
Now datatype of Date is datetime64[ns]

In [6]:
max(df["Date"]-min(df["Date"]))

Timedelta('728 days 00:00:00')

## Query 1.4
In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock. 
( VWAP = sum(price*volume)/sum(volume) ) 
To know more about VWAP , visit - VWAP definition 
{Hint : Create a new dataframe column ‘Month’. The values for this column can be derived from the ‘Date” column by using appropriate pandas functions. Similarly, create a column ‘Year’ and initialize it. Then use the 'groupby()' function by month and year. Finally, calculate the vwap value for each month (i.e. for each group created).

In [7]:
df["Month"]=df["Date"].dt.month
df["Year"]=df["Date"].dt.year
df["VWAP"]=df["Open Price"]+df["High Price"]+df["Close Price"]
df["VWAP"]=df["VWAP"]/3
df["VWAP"]=df["VWAP"]*df["Total Traded Quantity"]
df1=df[["Month","Year","Total Traded Quantity","VWAP"]].groupby(["Month","Year"]).sum()
df1["VWAP"]=df1["VWAP"]/df1["Total Traded Quantity"]

df1

            Total Traded Quantity        VWAP
Month Year
1     2018              127405476  132.223427
      2019              185374792   88.427390
2     2018              145497837  123.073742
      2019              188090554   82.921520
3     2018               80148741  123.108335
      2019              214767266  103.657412
4     2018               74973400  129.679181
      2019              149563181  106.239162
5     2017               82268947   91.924072
      2018              182647865  116.351358
      2019               45251101   95.437561
6     2017               95693492   89.853424
      2018              182075951  107.546132
7     2017               65872092   91.983334
      2018              246145539   91.207156
8     2017               67261014   88.129222
      2018              193199814   98.495890
9     2017               74233814   88.319609
      2018              182068714   91.650305
10    2017              133485224   98.221326
      2018              214211742   71.581288
11    2017              170321373  111.210851
      2018              180476452   86.544471
12    2017              114228653  126.316874
      2018              200869875   84.687640

## Query 1.5
Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days.
Calculate the average price AND the profit/loss percentages over the course of last -
1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year.
{Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }

In [8]:
def avg(N):
    return ((df["Close Price"].tail(N).sum())/N)

print("Average Price for last")
print("1 week: ",avg(5))
print("2 weeks: ",avg(10))
print("1 month: ",avg(21))
print("3 months: ",avg(63))
print("6 months: ",avg(127))
print("1 year: ",avg(253))

Average Price for last
1 week:  92.74000000000001
2 weeks:  95.41000000000001
1 month:  99.71428571428574
3 months:  97.6547619047619
6 months:  91.4503937007874
1 year:  93.19743083003951

In [9]:
def plp(N):
    diff=(df["Close Price"].tail(1).sum())-(df["Close Price"].tail(N).sum()-df["Close Price"].tail(N-1).sum())
    if diff==0:
        return 0
    elif diff<0:
        loss=(diff/df["Close Price"].tail(1).sum())*100
        return loss
    else:
        profit=(diff/df["Close Price"].tail(1).sum())*100
        return profit

print("Profit/Loss percentage for last")
print("1 week: ",plp(5))
print("2 weeks: ",plp(10))
print("1 month: ",plp(21))
print("3 months: ",plp(63))
print("6 months: ",plp(127))
print("1 year: ",plp(253))

Profit/Loss percentage for last
1 week:  -2.830188679245264
2 weeks:  -14.539400665926932
1 month:  -15.316315205328026
3 months:  11.376248612652198
6 months:  11.653718091011598
1 year:  -42.952275249717694

## Query 1.6
 Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

In [10]:
df["Day_Perc_Change"]=df["Close Price"].pct_change()*100
df.dropna(axis=0, how="any", inplace=True)

In [11]:
df.reset_index(inplace=True)
df.head()

,index,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
0,1,NCC,EQ,2017-05-16,97.35,98.15,100.80,97.10,100.60,100.40,99.01,8251673,8.170074e+08,28908,2698728,32.71,5,2017,8.233794e+08,3.133025
1,2,NCC,EQ,2017-05-17,100.40,100.95,103.65,100.10,101.35,101.45,102.05,9866001,1.006803e+09,40313,3276414,33.21,5,2017,1.006497e+09,1.045817
2,3,NCC,EQ,2017-05-18,101.45,99.80,100.85,96.55,96.90,97.00,98.80,4163676,4.113649e+08,18977,1196998,28.75,5,2017,4.131061e+08,-4.386397
3,4,NCC,EQ,2017-05-19,97.00,97.80,99.25,94.25,95.70,95.45,96.53,3782348,3.651142e+08,19517,706203,18.67,5,2017,3.687789e+08,-1.597938
4,5,NCC,EQ,2017-05-22,95.45,96.00,97.95,94.65,95.00,95.25,96.56,3829849,3.698111e+08,16697,1116014,29.14,5,2017,3.691974e+08,-0.209534

## Query 1.7
Add another column 'Trend' whose values are:
'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5
'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1
'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1
'Positive' for 'Day_Perc_Change' in between 1 and 3
'Negative' for 'Day_Perc_Change' in between -1 and -3
'Among top gainers' for 'Day_Perc_Change' in between 3 and 7
'Among top losers' for 'Day_Perc_Change' in between -3 and -7
'Bull run' for 'Day_Perc_Change' >7
'Bear drop' for 'Day_Perc_Change' <-7

In [12]:
df['Trend'] = np.nan
for i in range(df.shape[0]):
    if (df["Day_Perc_Change"][i]>=-0.5 and df["Day_Perc_Change"][i]<0.5):
        df["Trend"][i]="Slight or No change"
    if (df["Day_Perc_Change"][i]>=0.5 and df["Day_Perc_Change"][i]<1):
        df["Trend"][i]="Slight positive"
    if (df["Day_Perc_Change"][i]>=-1 and df["Day_Perc_Change"][i]<-0.5):
        df["Trend"][i]="Slight negative"
    if (df["Day_Perc_Change"][i]>=1 and df["Day_Perc_Change"][i]<3):
        df["Trend"][i]="Positive"
    if (df["Day_Perc_Change"][i]>=-3 and df["Day_Perc_Change"][i]<-1):
        df["Trend"][i]="Negative"
    if (df["Day_Perc_Change"][i]>=3 and df["Day_Perc_Change"][i]<7):
        df["Trend"][i]="Among top gainers"
    if (df["Day_Perc_Change"][i]>=-7 and df["Day_Perc_Change"][i]<-3):
        df["Trend"][i]="Among top losers"
    if (df["Day_Perc_Change"][i]>=7):
        df["Trend"][i]="Bull run"
    if (df["Day_Perc_Change"][i]<-7):
        df["Trend"][i]="Bear drop"
df.head()

,index,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,...,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trend
0,1,NCC,EQ,2017-05-16,97.35,98.15,100.80,97.10,100.60,100.40,...,8251673,8.170074e+08,28908,2698728,32.71,5,2017,8.233794e+08,3.133025,Among top gainers
1,2,NCC,EQ,2017-05-17,100.40,100.95,103.65,100.10,101.35,101.45,...,9866001,1.006803e+09,40313,3276414,33.21,5,2017,1.006497e+09,1.045817,Positive
2,3,NCC,EQ,2017-05-18,101.45,99.80,100.85,96.55,96.90,97.00,...,4163676,4.113649e+08,18977,1196998,28.75,5,2017,4.131061e+08,-4.386397,Among top losers
3,4,NCC,EQ,2017-05-19,97.00,97.80,99.25,94.25,95.70,95.45,...,3782348,3.651142e+08,19517,706203,18.67,5,2017,3.687789e+08,-1.597938,Negative
4,5,NCC,EQ,2017-05-22,95.45,96.00,97.95,94.65,95.00,95.25,...,3829849,3.698111e+08,16697,1116014,29.14,5,2017,3.691974e+08,-0.209534,Slight or No change

## Query 1.8
Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'.
{Hint : use 'groupby()' on the 'Trend' column and then calculate the average and median values of the column 'Total Traded Quantity'}

In [13]:
df.groupby(["Trend"])["Total Traded Quantity"].mean()

Trend
Among top gainers      1.117788e+07
Among top losers       7.438595e+06
Bear drop              1.393426e+07
Bull run               2.238906e+07
Negative               5.900091e+06
Positive               7.150694e+06
Slight negative        5.495105e+06
Slight or No change    5.366455e+06
Slight positive        7.506262e+06
Name: Total Traded Quantity, dtype: float64

In [14]:
df.groupby(["Trend"])["Total Traded Quantity"].median()

Trend
Among top gainers       9266251.5
Among top losers        6791503.0
Bear drop              12538922.0
Bull run               25100361.0
Negative                4967440.0
Positive                6495177.0
Slight negative         5085080.0
Slight or No change     4665733.5
Slight positive         5992560.0
Name: Total Traded Quantity, dtype: float64

## Query 1.9
SAVE the dataframe with the additional columns computed as a csv file week2.csv. In Module 2, you are going to get familiar with matplotlib, the python module which is used to visualize data.

In [15]:
df.to_csv("week2.csv", index=False)
print("Exported")

Exported